.initialpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #e7f1ff; 
    color: #0c5460;
    text-align: center;
    padding: 20px;
    border-radius: 0;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: default;
    margin-top: 5px;
  }
  
  .initialpage h2 {
    margin-bottom: 10px;
    font-size: 2rem;
  }
  
  .initialpage p {
    font-size: 1.2rem;
  }
  